{% extends 'inside_base.html'%}
{% block body %}
        <h2><p style="font-family:verdana"><center>Welcome Learner!</center></p></hr><hr>
            <div class="container">
                <div class="container">
                    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/books-1438306-1216751.png" width="200px" height="100px">
                    <a href='/viewcourses/'>View Courses</a><hr>
                </div>
                <div class="container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVKIDGQvQi57o8AbmyiCHlh-8N8Fn4vmKWDg&usqp=CAU" width="200px" height="100px">
                    <a href="/buycourse/">Buy Courses</a> <hr>
                </div>
                <div class="container">
                    <img src="https://cdn2.iconfinder.com/data/icons/shopping-online-e-commerce-store/512/tag_label_shopping_free-512.png" width="200px" height="100px">
                    <a href='/freecourses/'>Free Courses</a> <hr>
                </div>
            </div>
{% endblock%}