{% extends 'base.html' %}
{% block body %}
        <h2>Welcome to Learner Registration!</h2>
        <form action="/learner_register/" method="post"><br>
            {% csrf_token %}
            <p>Name</p>
            <input type="text" name="name" class="form-control"><hr>
            <p>Email ID</p>
            <input type="email" name="email" class="form-control"><hr>
            <p>Password</p>
            <input type="password" name="password" class="form-control"><hr>
            <p>Phone No</p>
            <input type="tel" name="phoneNo" class="form-control" pattern="[0-9]{10}"><hr>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
{% endblock%}